<!-- <div class="form-inputs">
  <%= f.input :name %>
  <div class="d-flex justify-content-between">
    <%= f.input :category %>
    <%= f.input :age %>
    <%= f.input :price_per_day, hint: 'please set price in euros €' %>
  </div>
  <%= f.input :difficulty %>
  <%= f.input :address %>
</div>
 -->
