<div class="container-show col-10">
  <div class="dragon">
    <div class="dragon-image col-4 d-flex">
      <% if @dragon.photo.attached? %>
        <%= cl_image_tag @dragon.photo.key, height: 550, width: 350, crop: :fill %>
      <% else %>
        <%= cl_image_tag 'nvou98k9mzayc2m57bm1', height: 550, width: 350, crop: :fill %>
      <% end %>
    </div>
    <div class="dragon-details col-8">
      <div class="dragon-card-info d-flex">
        <ul class="icons">
            <div>
              <h1><%= @dragon.name %></h1>
              <li><strong>Age:</strong> <%=@dragon.age %> years</li>
            <!--   <div class="breeder-category"> -->
                <li><i class="fas fa-magic"></i> <%= @dragon.user.first_name %> <%= @dragon.user.last_name %></li>
                <li><i class="fas fa-dragon"></i> <%=@dragon.category %></li>
              <!-- </div> -->
              <div class="difficulty">
                <li><strong>Difficulty:</strong> <% @dragon.difficulty.times do %> <i class="fas fa-meteor"></i> <% end %> </li>
              </div>
            </div>
            <div class="price">
              <p><%=@dragon.price_per_day %> euros / day</p>
            </div>
            <div class="edit-buttons">
              <% if policy(@dragon).edit? %>
              <button class="btn btn--border">
                <%= link_to 'Edit', edit_dragon_path(@dragon) %>
              <% end %>
              <span></span></button>

              <button class="btn btn--border">
              <%= link_to 'Back', dragons_path%>
               <span></span></button>

               <% if policy(@dragon).edit? %>
              <button class="btn btn--swap">
                <%= link_to 'Delete', @dragon, method: :delete, data: { confirm: "Are you sure?" } %>
              <span>Are you sure?</span></button>
              <% end %>

            </div>
        </ul>

        <div class="location-info">
          <%= render partial: 'dragons/map-show' %>
        </div>

      </div>


      <div class="booking-details d-flex justify-content-between">
        <div class="booking-pick">
          <% if @dragon.user == current_user %>
            <%= render partial: 'bookings/list' %>
          <% elsif current_user %>
            <%= render partial: 'bookings/new' %>
          <% end %>
        </div>

        <div class="booking-calendar">
          <%= render partial: 'bookings/calendar' %>
        </div>
      </div>

    </div>

  </div>

</div>

