<h1>Details for <%= @dragon.name %></h1>

<ul>
  <li>Name: <%= @dragon.name %></li>
  <li>Category: <%= @dragon.category %></li>
  <li>Age: <%= @dragon.age %></li>
  <li>Price: <%= @dragon.price_per_day %> per day</li>
  <li>Difficulty: <%= @dragon.difficulty %></li>
</ul>
