<h1>Details for <%= @dragon.name %></h1>

<ul>
  <li>Name: <%= @dragon.name %></li>
  <li>Category: <%= @dragon.category %></li>
  <li>Age: <%= @dragon.age %></li>
  <li>Price: <%= @dragon.price_per_day %>€ per day</li>
  <li>Difficulty: <%= @diff %></li>
</ul>


<% if policy(@dragon).edit? %>
  <%= link_to 'Edit', edit_dragon_path(@dragon) %>
<% end %>

<% if policy(@dragon).edit? %>
  <%= link_to 'Delete', @dragon, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
