<h1>Details for <%= @dragon.name %></h1>

<ul>
  <li>Name: <%= @dragon.name %></li>
  <li>Category: <%= @dragon.category %></li>
  <li>Age: <%= @dragon.age %></li>
  <li>Price: <%= @dragon.price_per_day %>€ per day</li>
  <li>Difficulty: <%= @diff %></li>
</ul>

<%= link_to 'Edit', edit_dragon_path(@dragon) %>

<%= link_to 'Delete', @dragon, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>

<div class="col-6">
    <h3>Add a new booking</h3>

    <% if @booking.errors.any? %>
      <div class="alert alert-danger">
        <h3>Booking has errors!</h3>
        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= simple_form_for [@dragon, @booking] do |f| %>
    <div class="d-flex">
      <%= f.input :start_date, html5: true, class: 'form-control datepicker' %>
      <%= f.input :end_date, html5: true  %>
    </div>
    <%= f.submit 'Create a booking', class: 'btn btn-success' %>
  <% end %>
  </div>
</div>
