<div class="container-show col-8">

  <div class="card-show d-flex">
    <% if current_user.photo.attached? %>
      <div class="card-show-image col-4 d-flex align-items-end p-3"
          style="background-image: url(<%= url_for(current_user.photo) %>)">
    <% else %>
      <div class="card-show-image col-4 d-flex align-items-end p-3"
          style="background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 185, 52, 0.7)),
                                    url(https://scontent.flis8-1.fna.fbcdn.net/v/t1.0-9/61093687_2196438233804291_364668622083194880_n.jpg?_nc_cat=110&_nc_ohc=_mSbFHftfskAX-4oKyU&_nc_ht=scontent.flis8-1.fna&oh=2f676f4defa17f0f99045e67ddd70659&oe=5EFD8E5A)">
    <% end %>


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :photo,
                as: :file,
                required: false,
                class: 'custom-file-label' %>
        <!-- <div class="custom-file">
          <input type="file" class="custom-file-input" id="user_photo" name="user[photo]">
          <label class="custom-file-label" for="user_photo">Upload photo</label>
        </div> -->
    </div>

    <div class="card-show-info col-8 p-3">
      <h2 class="form-title text-simple">Edit Profile</h2>
      <div class="form-inputs">
        <div class="d-flex flex-row justify-content-between">
          <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
          <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" } %>
        </div>

        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <div class="d-flex flex-row justify-content-between">
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="edit-buttons">
      <div class="form-actions d-flex justify-content-between">
        <button class="btn btn--border">
        <%= f.button :submit, "Update"%>
        <span></span></button>
        <div>
          <button class="btn btn--swap">
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete%>
          <span>Are you sure?</span></button>
          <button class="btn btn--border">
          <%= link_to "Back", :back%>
          <span></span></button>
        </div>
        <% end %>
      </div>
    </div>

      <%#= render "devise/shared/links" %>
    </div>
  </div>

</div>
