<h5 class="m-0 p-0">Add a new booking</h5>

<% if @booking.errors.any? %>
  <div class="alert alert-danger">
    <h3>Booking has errors!</h3>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for [@dragon, @booking] do |f| %>
  <div class="m-0 p-0">
    <%= f.input :start_date, html5: true, class: 'form-control datepicker' %>
    <%= f.input :end_date, html5: true  %>
    <%= f.submit 'Create a booking', class: 'btn btn-success' %>
  </div>
<% end %>
