<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <span class="navbar-brand">DRAGONS 'Я' US</span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= link_to dragons_path do %>
          <span class="mr-3 navbar-brand">Dragon's Lair</span>
        <% end %>
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://image.freepik.com/free-vector/cute-purple-dragon-avatar_79416-76.jpg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Breed a dragon", new_dragon_path, class: 'dropdown-item' %>
            <%= link_to "My dragons", my_dragons_path, class: 'dropdown-item' %>
            <%= link_to "My bookings", my_dragons_path, class: 'dropdown-item' %>
            <hr>
            <%= link_to "Edit profile", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            <%= link_to "Register", new_user_registration_path, class: 'dropdown-item'  %>
            <%= link_to "Login", user_session_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
