<div class="content-container d-flex justify-content-between">
  <div class="container-dragons col-8 pr-4 info-card-my-bookings">


    <% @bookings.each do |booking| %>
      <div class="info-card-my-dragons p-3">
        <h3><%= link_to booking.dragon.name, dragon_path(booking.dragon), class: 'link-my-dragons' %></h3>
        <div class="d-flex justify-content-between m-0">
          <div class="col-4 p-0 m-0">
            <p><strong>Start date:</strong> <br> <%= booking.start_date.strftime("%d %b %Y") %></p>
            <p><strong>End date:</strong> <br> <%= booking.end_date.strftime("%d %b %Y") %></p>
            <p class="m-0"><strong>Final price:</strong> <%= booking.total_price %> €</p>
          </div>
          <div class="col-6 p-0 m-0 text-center">

              <% if booking.countdown > 0 %>
                <h1><%= booking.countdown %></h1>
                <p>days until your booking</p>
              <% elsif booking.countdown == 0 %>
                <p><strong>You can get your dragon today!</strong></p>
              <% else %>
                <h1><%= booking.days_remaining %></h1>
                <div class="p-0 col-10">
                  <p>days remaining in your booking</p>
                </div>
              <% end %>

            <div class="edit-buttons">
              <% if policy(booking).destroy? %>
                <button class="btn btn--swap">
                  <%= link_to booking, method: :delete, data: { confirm: "Are you sure?" } do %>
                    Cancel Booking
                    <span>Are you sure?</span>
                  <% end %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <div class="my-dragons-side col-4 p-0">
    <div class="info-card-my-dragons p-3">
      <h4>Bookings Calendar</h4>
      <%= month_calendar events: @bookings do |date, bookings| %>
        <%= date.day %>

        <% bookings.each do |booking| %>
          <p><%= booking.dragon.name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="info-card-my-dragons p-3 mt-3">
      <h2><strong><%= @active_bookings.count %></strong> dragons</h2>
      <p>are in your possession right now</p>
      <% @active_bookings.each do |booking| %>
        <hr>
        <h5><%= link_to booking.dragon.name, dragon_path(booking.dragon), class: 'link-my-dragons' %></h5>
        <div class="d-flex justify-content-between">
          <div class="col-4 p-0 m-0">
            <p><strong>Start date:</strong> <br> <%= booking.start_date.strftime("%d %b %Y") %></p>
            <p class="m-0"><strong>End date:</strong> <br> <%= booking.end_date.strftime("%d %b %Y") %></p>
          </div>
          <div class="d-flex flex-column justify-content-start align-items-center col-4 p-0 m-0">
            <h1><strong><%= booking.days_remaining %></strong></h1>
            <p>days left</p>
          </div>
          <% if booking.user.photo.attached? %>
            <div class="booking-user col-4 p-2 m-0 d-flex align-items-end"
                style="background-image: url(<%= url_for(booking.user.photo) %>)">
          <% else %>
            <div class="booking-user col-4 p-2 m-0 d-flex align-items-end"
                style="background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 185, 52, 0.7)),
                                          url(https://scontent.flis8-1.fna.fbcdn.net/v/t1.0-9/61093687_2196438233804291_364668622083194880_n.jpg?_nc_cat=110&_nc_ohc=_mSbFHftfskAX-4oKyU&_nc_ht=scontent.flis8-1.fna&oh=2f676f4defa17f0f99045e67ddd70659&oe=5EFD8E5A)">
          <% end %>

            <p class="m-0"><strong>Rider:</strong> <br>  <%= booking.user.first_name %> <%= booking.user.last_name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
